input {
  border:0;
  padding:10px;
  font-size:1.3em;
  font-family:Arial, sans-serif;
  color:#aaa;
  border:solid 1px #ccc;
  margin:0 0 20px;
  width:500px;
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}
input:focus {
  border:solid 1px #EEA34A;
}
button {
  border:20;
  padding:10px;
  font-size:1.3em;
  font-family:Arial, sans-serif;
  color:#aaa;
  margin:0 0 20px;
  width:500px;
}
